@import '@/shared/styles/breakpoints';

.d-desktop {
  @media screen and (max-width: $screen-ti) {
    display: none !important;
  }
}

.d-mobile {
  display: none !important;

  @media screen and (max-width: $screen-ti) {
    display: block !important;
  }
}
