@import '@/shared/styles/breakpoints';
@import '@/shared/styles/mixins/text-styles.scss';

.section {
  padding: 100px 0;

  @media screen and (max-width: $screen-tl) {
    padding: 40px 0;
  }

  &--green {
    background-color: var(--green-gray-50);
  }

  &--small {
    padding: 100px 0 89px;
  }

  &__pb {
    padding-bottom: 100px;

    @media screen and (max-width: $screen-tl) {
      padding-bottom: 40px;
    }
  }

  &__title {
    @include heading-3(600);

    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: $screen-tl) {
      @include heading-5(600);
    }
  }

  &__title + &__content {
    margin-top: 18px;
  }

  &__title + &__content--medium {
    margin-top: 43px;

    @media screen and (max-width: $screen-tl) {
      margin-top: 30px;
    }
  }

  &__title + &__content--large {
    margin-top: 50px;

    @media screen and (max-width: $screen-tl) {
      margin-top: 30px;
    }
  }

  &__green-background {
    position: relative;

    &--top {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: -1;
        height: 50%;
        background-color: var(--green-gray-50);
        content: '';
      }
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 50%;
      background-color: var(--green-gray-50);
      content: '';
    }
  }
}
