@use 'sass:color';

:root {
  --body-color: var(--front-primary);
  --body-bg: var(--back-primary);
  --font-base: var(--font-sans);
  --font-sans: poppins, -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Ubuntu',
    'Droid Sans', 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-segoe: segoescript, -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Ubuntu',
    'Droid Sans', 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-serif: georgia, 'Times New Roman', times, serif;
  --font-mono: sfmono-regular, menlo, monaco, consolas, liberation mono, 'Courier New', monospace;
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;
  --color-white: #fff;
  --color-black: #000;
  --green-gray-900: #002603;
  --green-gray-800: #173b1a;
  --green-gray-700: #2b572e;
  --green-gray-600: #406b42;
  --green-gray-500: #618062;
  --green-gray-400: #7a997c;
  --green-gray-300: #96b297;
  --green-gray-200: #b4ccb4;
  --green-gray-100: #dae5da;
  --green-gray-50: #edf2ee;
  --monochrome-1000: #000;
  --monochrome-900: #1a1a1a;
  --monochrome-800: #333;
  --monochrome-700: #4d4d4d;
  --monochrome-600: #666;
  --monochrome-500: #808080;
  --monochrome-400: #999;
  --monochrome-300: #b3b3b3;
  --monochrome-200: #ccc;
  --monochrome-100: #e6e6e6;
  --monochrome-50: #f2f2f2;
  --monochrome-0: #fff;
  --blue-900: #0a1931;
  --blue-500: #2388ff;
  --soft-primary: #84d187;
  --primary: #00b207;
  --hard-primary: #2c742f;
  --orange-500: #ff8a00;
  --red-500: #ea4b48;
  --status-success: var(--primary);
  --status-warning: var(--orange-500);
  --status-danger: var(--red-500);
  --front-primary: var(--monochrome-900);
  --front-primary-inversed: var(--color-white);
  --back-primary: var(--color-white);
  --transition: 0.2s ease-in-out;
  --transition-long: 0.5s ease-in-out;
  --modal-bg: rgb(0 0 0 / 80%);

  // card
  --card-border: 1px solid var(--monochrome-100);
  --card-hover-border: 1px solid var(--primary);
  --card-hover-shadow: 0 0 12px 0 rgb(32 181 38 / 32%);

  // z-indexes
  --header-dropdown-z-index: 3;
  --mobile-menu-z-index: 3;
  --hero-navigation-z-index: 11;
  --overlay-z-index: 12;
  --modal-content-z-index: 20;
  --success-message-z-index: 21;
}
