@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/text-styles';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';

.image {
  position: absolute;
  z-index: -1;
  transition: transform 0.4s ease-in;
  inset: 0;
}

.content {
  @include flex-column;

  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  justify-content: flex-start;
  max-width: 183px;
  height: 100%;

  @media screen and (max-width: $screen-t) {
    width: 50%;
    max-width: unset;
  }
}

.subtitle {
  margin: 0;
  padding-top: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
}

.buttonContainer {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.text + .buttonContainer {
  padding-top: 10px;
}

.button {
  @include flex-center-vertical;

  gap: 8px;
  padding: 10px 27px 10px 32px;
}

.buttonText {
  white-space: nowrap;
}

.buttonIcon {
  @include box(24px)
}

.banner {
  position: relative;
  display: block;
  height: 100%;
  padding: 40px 24px;
  overflow: hidden;
  color: var(--front-primary);
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;

  @media (hover: hover) {
    &:hover {
      .image {
        transform: scale(1.1);
      }

      .button {
        color: var(--front-primary-inversed);
        background-color: var(--primary);
      }
    }
  }

  &.right {
    .content {
      margin-left: auto;
    }
  }

  &.white {
    color: var(--front-primary-inversed);
  }
}
