@import '@/shared/styles/breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/text-styles';

.imageLink {
  @include box(112px);

  position: relative;
}

.image {
  object-fit: contain;
}

.description {
  @include flex-column;

  gap: 1px;
  padding: 24px 12px;
}

.descriptionMain {
  @include flex-column;

  gap: 5px;
  height: 40px;
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transition);
}

.descriptionHover {
  position: absolute;
  height: 40px;
  visibility: hidden;
  opacity: 0;
}

.title {
  @include body-s;

  margin: 0;
  color: var(--monochrome-700);
}

.price {
  @include flex-center-vertical;

  gap: 4px;
  margin: 0;
  color: var(--monochrome-900);

  &Old {
    color: var(--green-gray-400);
    text-decoration-line: line-through;
  }
}

.buttons {
  @include flex-center-vertical;

  gap: 12px;
}

.product {
  @include flex-center-vertical;

  display: flex;
  align-items: flex-start;
  min-width: 282px;
  max-width: 424px;
  overflow: hidden;
  border: var(--card-border);
  border-radius: 6px;

  @media (hover: hover) {
    &:hover {
      border: var(--card-hover-border);
      box-shadow: var(--card-hover-shadow);

      .title {
        color: var(--primary);
      }

      .description {
        gap: 6px;
      }

      .descriptionHover {
        position: static;
        visibility: visible;
        opacity: 1;
        transition: opacity var(--transition);
      }

      .descriptionMain {
        position: absolute;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
