@import '@/shared/styles/mixins/container';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/_breakpoints';

.Faq {
  @include container;
  @include flex-center-vertical;

  position: relative;
  gap: 73px;
  padding-top: 80px;

  @media screen and (max-width: $df-screen-ti) {
    border-top: 40px;
  }
}

.FaqImageContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  align-self: flex-end;
  width: 50%;
  max-width: 731px;
  height: 100%;
  max-height: 808px;
  aspect-ratio: 371 / 404;

  @media screen and (max-width: $df-screen-ti) {
    display: none;
  }
}

.FaqImage {
  padding-top: 40px;
  object-fit: contain;
  object-position: bottom;
}

.FaqTextContainer {
  @include flex-column;

  position: relative;
  z-index: 2;
  gap: 32px;
  width: 54%;

  @media screen and (max-width: $df-screen-ti) {
    width: 100%;
  }
}

.FaqTextContent {
  @include flex-column;

  gap: 12px;
  padding-bottom: 40px;
}

.FaqText {
  color: var(--monochrome-600);
}
