@import '../../styles/mixins/text-styles.scss';

.error {
  .title {
    color: var(--front-primary);
  }

  .text {
    color: var(--front-primary);
  }
}

.inverted {
  .title {
    color: var(--front-primary-inversed);
  }

  .text {
    color: var(--front-primary-inversed);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_xs {
  .title {
    @include heading-5;
  }

  .text {
    @include body-tiny;
  }
}

.size_s {
  .title {
    @include heading-4;
  }

  .text {
    @include body-s;
  }
}

.size_m {
  .title {
    @include heading-3;
  }

  .text {
    @include body-m;
  }
}

.size_l {
  .title {
    @include heading-2;
  }

  .text {
    @include body-l;
  }
}

.size_xl {
  .title {
    @include heading-1;
  }

  .text {
    @include body-xl;
  }
}

.size_xxl {
  .title {
    @include display-1;
  }

  .text {
    @include body-xxl;
  }
}

.light .title,
.light .text {
  font-weight: 300;
}

.medium .title,
.medium .text {
  font-weight: 500;
}

.semibold .title,
.semibold .text {
  font-weight: 600;
}

.bold .title,
.bold .text {
  font-weight: 700;
}
