@use 'sass:color';

:root {
  --body-color: var(--front-primary);
  --body-bg: var(--back-primary);
  --font-base: var(--font-sans);
  --font-sans: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Ubuntu', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-segoe: Segoescript, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-serif: Georgia, 'Times New Roman', Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    'Courier New', monospace;
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;

  --color-white: #ffffff;
  --color-black: #000000;

  --green-gray-900: #002603;
  --green-gray-800: #173b1a;
  --green-gray-700: #2b572e;
  --green-gray-600: #406b42;
  --green-gray-500: #618062;
  --green-gray-400: #7a997c;
  --green-gray-300: #96b297;
  --green-gray-200: #b4ccb4;
  --green-gray-100: #dae5da;
  --green-gray-50: #edf2ee;

  --gray-900: #1a1a1a;
  --gray-800: #333;
  --gray-700: #4d4d4d;
  --gray-600: #666;
  --gray-500: #808080;
  --gray-400: #999;
  --gray-300: #b3b3b3;
  --gray-200: #ccc;
  --gray-100: #e6e6e6;
  --gray-50: #f2f2f2;

  --blue-900: #0a1931;
  --blue-500: #2388ff;

  --soft-primary: #84d187;
  --primary: #00b207;
  --hard-primary: #2c742f;

  --orange: #ff8a00;
  --red: #ea4b48;

  --status-warning: var(--orange);
  --status-danger: var(--red);

  --front-primary: var(--gray-900);
  --front-primary-inversed: var(--color-white);

  --back-primary: var(--color-white);

  --transition: 0.2s ease-in-out;
  --transition-long: 0.5s ease-in-out;
  --modal-bg: rgba(0, 0, 0, 0.8);

  // card
  --card-border: 1px solid var(--gray-100);
  --card-hover-border: 1px solid var(--primary);
  --card-hover-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);

  // z-indexes
  --header-dropdown-z-index: 3;
  --mobile-menu-z-index: 3;
  --hero-navigation-z-index: 11;
}
