@import '@/shared/styles/breakpoints';

@mixin display-desktop() {
  @media screen and (max-width: $df-screen-t) {
    display: none !important;
  }
}

@mixin display-mobile() {
  display: none !important;

  @media screen and (max-width: $df-screen-t) {
    display: block !important;
  }
}
