@mixin font-face($fontName, $filename, $weight: 400, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: "#{$fontName}";
    font-style: $style;
    font-display: swap;
    src: url("/{{fonts}}/#{$filename}.woff2") format("woff2");
    // url("/{{fonts}}/#{$filename}.woff") format("woff"),
    // local("#{$fontName}");
  }
}
