@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';

.removeButtonIcon {
  @include box(16px);

  color: var(--green-gray-600);
}

.removeButton {
  @include flex-center;
  @include box(22px);

  border: 1px solid var(--monochrome-200);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: all var(--transition);

  @media (hover: hover) {
    &:hover {
      border-color: var(--monochrome-900);

      .removeButtonIcon {
        color: var(--green-gray-900);
      }
    }
  }
}
