@import '@/shared/styles/_breakpoints';

.tag {
  cursor: pointer;
}

.tagText {
  display: block;
  padding: 6px 16px;
  color: var(--monochrome-900);
  background-color: var(--monochrome-50);
  border-radius: 30px;
}

.tagInput {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;

  &:checked ~ .tagText {
    color: var(--front-primary-inversed);
    background-color: var(--primary);
  }
}
