@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/text-styles';

.phone {
  @include flex-center-vertical;

  gap: 8px;
  color: var(--monochrome-900);
  text-decoration: none;

  @media screen and (max-width: $screen-t) {
    display: none;

    &--mobile {
      display: flex;
      align-items: flex-end;
    }
  }
}

.icon {
  @include box(28px);

  stroke-width: 1.3px;

  @media screen and (max-width: $screen-tl) {
    @include box(26px);
  }
}
