@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox.scss';
@import '@/shared/styles/mixins/box.scss';

.iconWrapper {
  @include box(70px);
  @include flex-center;

  background-color: var(--color-white);
  border: 1px solid var(--green-gray-100);
  border-radius: 50%;

  @media screen and (max-width: $screen-tl) {
    @include box(50px);
  }
}

.icon {
  @include box(40px);

  color: var(--primary);

  @media screen and (max-width: $screen-tl) {
    @include box(30px);
  }
}

.title {
  margin: 0;
}

.iconWrapper + .title {
  margin-top: 16px;

  @media screen and (max-width: $screen-tl) {
    margin-top: 10px;
  }
}

.text {
  margin: 0;
}

.title + .text {
  margin-top: 8px;
}

.advantage {
  @include flex-column;

  padding: 40px;

  @media screen and (max-width: $screen-tl) {
    padding: 20px;
  }

  @media screen and (max-width: $screen-t) {
    border: none;
    border-bottom: 1px solid rgb(230 230 230);
  }

  &:first-child {
    position: relative;
    inset: -1px;
    background-color: var(--primary);

    .title,
    .text {
      color: var(--front-primary-inversed);
    }
  }

  &:not(:first-child, :last-child) {
    border-right: 1px solid rgb(230 230 230);

    @media screen and (max-width: $screen-tl) {
      border-right: none;
    }
  }

  // todo переписать

  &:nth-child(2) {
    @media screen and (max-width: $screen-tl) {
      border-bottom: 1px solid rgb(230 230 230);
    }
  }

  &:nth-child(3) {
    @media screen and (max-width: $screen-tl) {
      border-right: 1px solid rgb(230 230 230);
    }
  }
}
