@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/button-reset';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/text-styles';

.video {
  overflow: hidden;
  border-radius: 20px;

  $block-name: &;
}

.videoPreview {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 66 / 37;

  &.withOverlay {
    position: relative;

    &::before {
      position: absolute;
      background-color: rgb(0 46 3 / 60%);
      content: '';
      inset: 0;
    }
  }
}

.videoText {
  @include flex-column-center;

  position: absolute;
  top: 50%;
  left: 50%;
  gap: 12px;
  max-width: calc(100% - 40px);
  margin: 0;
  color: var(--front-primary-inversed);
  text-align: center;
  transform: translate(-50%, -50%);

  @media screen and (max-width: $df-screen-ti) {
    width: 100%;
  }
}

.videoSubtitle {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-segoe);
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  text-transform: uppercase;
}

.videoTitle {
  max-width: 500px;
  margin: 0;
  letter-spacing: 0.01em;
  text-align: center;

  @media screen and (max-width: $df-screen-ti) {
    @include heading-5;
  }
}

.videoPlayButton {
  &.primary {
    @include button-reset('flex');
    @include flex-center;
    @include box(82px);

    border-radius: 50%;
    outline: 1px solid var(--color-white);
    transition: outline-color var(--transition);

    @media screen and (max-width: $df-screen-t) {
      @include box(70px);
    }

    @media (hover: hover) {
      &:hover {
        outline-color: var(--primary);

        .videoPlayIcon {
          color: var(--primary);
        }
      }
    }

    .videoPlayIcon {
      width: 20px;
      height: 24px;
      color: var(--color-white);
      transition: color var(--transition);
    }
  }

  &.secondary {
    @include button-reset('flex');
    @include flex-center;
    @include box(50px);

    background-color: var(--primary);
    border-radius: 50%;
    transition: background-color var(--transition);

    @media screen and (max-width: $df-screen-t) {
      @include box(40px);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--hard-primary);
      }
    }

    .videoPlayIcon {
      width: 14px;
      height: 18px;
      color: var(--color-white);
      transition: color var(--transition);
    }
  }
}

.videoTitle + .videoPlayButton {
  margin-top: 20px;
}

.videoFrame {
  width: 100%;
  height: 100%;
}
