@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/_breakpoints';

// todo
// .OrderPageStatus {
// }

.OrderPageStatusContent {
  @include flex-center-vertical;

  gap: 20px;
  width: 100%;
}

.OrderPageStatusBar {
  width: 100%;
  height: 8px;
  background-color: var(--monochrome-50);
  border-radius: 8px;
}

.OrderPageStatusBarActive {
  height: 8px;
  background-color: var(--primary);
  border-radius: 8px;
}

.OrderPageStatus {
  @include flex-column;
}
