@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';
@import '@/shared/styles/_breakpoints';

.OrderPageStatus {
  padding: 0 56px 0 34px;

  @media screen and (max-width: $df-screen-ti) {
    padding: 0;
  }
}

.OrderPageStatusContent {
  @include flex-center-vertical;

  position: relative;
  top: -24px;
  gap: 20px;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: $df-screen-m) {
    display: none;
  }
}

.OrderPageStatusBar {
  height: 8px;
  margin: 0 32px;
  background-color: var(--monochrome-50);
  border-radius: 8px;

  @media screen and (max-width: $df-screen-m) {
    margin: 0;
  }
}

.OrderPageStatusBarActive {
  height: 8px;
  background-color: var(--primary);
  border-radius: 8px;
}

.OrderPageStatusText {
  color: var(--hard-primary);
}

.OrderPageBullet {
  @include flex-center;
  @include box(40px);

  color: var(--primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  background-color: var(--back-primary);
  border: 1px dashed var(--primary);
  border-radius: 50%;
}

.OrderPageBulletIcon {
  color: var(--front-primary-inversed);
}

.OrderPageStatusItem {
  @include flex-column;

  gap: 8px;
  align-items: center;

  &.active {
    .OrderPageBullet {
      color: var(--front-primary-inversed);
      background-color: var(--primary);
      border-style: solid;
    }
  }
}

.OrderPageStatusMobile {
  display: none;
  color: var(--primary);

  @media screen and (max-width: $df-screen-m) {
    display: block;
    margin-top: 4px;
  }
}
