@import '@/shared/styles/mixins/text-styles';
@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/flexbox';

.inputContainer {
  @include flex-column;

  gap: 8px;
}

.inputLabel {
  @include body-s;
}

.inputWrapper {
  position: relative;
  display: block;
  width: 100%;
}

.input {
  @include search-field;

  width: 100%;
  padding: 14px 16px;
  border: 1px solid rgb(230 230 230);
  border-radius: 6px;
  outline: none;
  transition: all var(--transition);

  &::placeholder {
    @include search-field;

    color: var(--monochrome-500);
  }

  &:focus {
    border-color: var(--primary);
  }

  &.search {
    position: relative;
    padding: 14px 16px 14px 44px;
    border: 1px solid rgb(230 230 230);
    border-radius: 6px;
    outline: none;
  }

  &.error {
    border-color: var(--status-danger);
  }

  &.success {
    border-color: var(--primary);
  }
}

.searchIcon {
  @include box(20px);

  position: absolute;
  top: 12px;
  left: 15px;
}

.inputIcon {
  @include box(20px);

  position: absolute;
  color: var(--primary);

  &Search {
    top: 12px;
    left: 15px;
  }

  &Warning,
  &Error,
  &Success {
    top: 15px;
    right: 15px;
  }
}

.errorMessage {
  color: var(--status-danger);
}
