@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/grid';
@import '@/shared/styles/mixins/text-styles';

.EditUserBillingAddress {
  @include flex-column;

  gap: 14px;
}

.EditUserBillingAddressInput {
  @include flex-column;

  gap: 8px;
  width: 100%;

  label {
    @include body-s;

    margin: 0;
  }

  input {
    max-height: 49px;
    padding: 13px 16px;
  }

  :global(.react-select__control) {
    width: 100%;
    height: 49px;
    font-style: 16px;
    line-height: 130%;
    border: 1px solid var(--monochrome-100);
  }
}

.EditUserBillingAddressInputs {
  @include flex-column;

  gap: 14px;
  align-items: flex-start;
  width: 70%;
}

.EditUserBillingAddressButton {
  align-self: flex-start;
}

.EditUserBillingAddressRowGridTwo + .EditUserBillingAddressButton {
  margin-top: 8px;
}

.EditUserBillingAddressRowGridTwo {
  @include grid(2);

  gap: 16px;

  @media screen and (max-width: $df-screen-ti) {
    grid-template-columns: 1fr;
  }
}

.EditUserBillingAddressRowGridThree {
  @include grid(3);

  gap: 16px;

  @media screen and (max-width: $df-screen-tl) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $df-screen-ti) {
    grid-template-columns: 1fr;
  }
}
