@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';

.productCheckout {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  &Info {
    @include flex-center-vertical;

    gap: 5px;
  }

  &Photo {
    @include box(60px);

    position: relative;

    img {
      object-fit: contain;
    }
  }
}
