@import '@/shared/styles/_breakpoints';

.OrderProductsHeader {
  display: grid;
  grid-template-columns: 2.2fr repeat(3, 1fr);
  padding: 10px 20px;
  background-color: var(--monochrome-50);
  border-bottom: 1px solid var(--monochrome-100);

  @media screen and (max-width: $df-screen-t) {
    display: none;
  }
}

.OrderProductsColumnTitle {
  color: var(--monochrome-700);
  letter-spacing: 3%;
  text-transform: uppercase;
}
