@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/container';

.navigation {
  background-color: var(--monochrome-50);
}

.content {
  @include container;
  @include flex-center-sb;

  gap: 35px;

  @media screen and (max-width: $df-screen-tl) {
    gap: 15px;
  }
}

.navigationContent {
  @include flex-center-vertical;

  gap: 32px;

  @media screen and (max-width: $df-screen-tl) {
    gap: 15px;
  }

  @media screen and (max-width: $df-screen-m) {
    width: 100%;
  }
}
