@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/button-reset';

.ProductPreviewModal {
  position: relative;

  //   z-index: var(--modal-content-z-index);
  width: 100%;
  width: calc(100% - 40px);
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  overflow: visible;
  background-color: var(--back-primary);
  border-radius: 8px;

  @media screen and (max-width: $df-screen-m) {
    width: 100%;
    border-radius: 0;
  }
}

.ProductPreviewModalCloseButton {
  @include button-reset;

  position: absolute;
  top: -54px;
  right: 1px;
  padding: 10px;
  color: var(--back-primary);
  outline: none;

  @media screen and (max-width: $df-screen-ti) {
    top: -43px;
  }

  @media screen and (max-width: $df-screen-m) {
    top: 10px;
    z-index: 2;
    color: var(--monochrome-900);
  }
}

.ProductPreviewModalCloseIcon {
  @include box(25px);
}

.ProductPreviewModalContent {
  display: flex;
  gap: 22px;

  @media screen and (max-width: $df-screen-tl) {
    flex-direction: column;
    overflow-y: auto;
  }

  @media screen and (max-width: $df-screen-ti) {
    max-height: calc(100vh - 80px);
  }

  @media screen and (max-width: $df-screen-m) {
    height: 100vh;
    max-height: unset;
    padding: 16px;
  }
}

.ProductCartPreviewCounter {
  flex-grow: 1;
}
