@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox.scss';
@import '@/shared/styles/mixins/box.scss';
@import '@/shared/styles/mixins/button-reset.scss';
@import '@/shared/styles/mixins/text-styles.scss';

.filter {
  @include flex-column;

  grid-area: filter;
  gap: 24px;
  align-items: flex-start;
}

.filterButton {
      display: none;

    @media screen and (max-width: $screen-tl) {
      display: flex;
    }
}



.filterMenuBackground {
  width: 100%;
  @media screen and (max-width: $screen-tl) {
    position: fixed;
    background-color: var(--modal-bg);
    opacity: 0;
    pointer-events: none;
    inset: 0;
  }

  &.opened {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: var(--mobile-menu-z-index);
    opacity: 1;
    transition: all var(--transition);
    pointer-events: auto;

    .filterMenu {
      display: block;
      max-width: 390px;
      height: 100vh;
      padding: 80px 16px;
      overflow-y: auto;
      background-color: var(--back-primary);
    }

  }
}


.banner {

}


// todo
.banner {
  display: block;

  @media screen and (max-width: $screen-tl) {
    display: none;
  }
}

 .banner {
  margin-top: -8px;

}

.products {
  @include flex-column;

  gap: 12px;
  width: 100%;
}

.banner + .products {
  margin-top: 15px;
}

.products--desktop {
  @media screen and (max-width: $screen-tl) {
    display: none;
  }
}


// .product-cards {
//   @include flex-column;

//   gap: 16px;
// }
