@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox.scss';
@import '@/shared/styles/mixins/container.scss';
@import '@/shared/styles/mixins/text-styles.scss';

.top {
  padding: 11px 0 13px;
  color: var(--monochrome-300);
  background-color: var(--monochrome-800);
}

.content {
  @include container;
  @include flex-center-sb;

  gap: 35px;

  @media screen and (max-width: $screen-d) {
    gap: 15px;
  }
}

.actions {
  @include flex-center-vertical;

  gap: 19px;

  @media screen and (max-width: $screen-tl) {
    margin-left: auto;
  }

  @media screen and (max-width: $screen-ti) {
    width: 100%;
    margin-left: 0;
  }
}

.actionsSeparator {
  width: 1px;
  height: 15px;
  background-color: rgb(255 255 255 / 10%);

  @media screen and (max-width: $screen-ti) {
    display: none;
  }
}

.dropdowns {
  @include flex-center-vertical;

  gap: 17px;
}

.auth {
  @include body-tiny;

  position: relative;

  @media screen and (max-width: $screen-ti) {
    margin-left: auto;
  }
}

.authLink {
  color: inherit;
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      color: var(--primary);
    }
  }
}

.authSeparator {
  padding: 0 5px;
}
