@import '@/shared/styles/mixins/flexbox';

.payment {
  @include flex-center-vertical;

  gap: 8px;
  margin: 0;
  padding: 0;
}

.paymentIcon {
  width: 45px;
  height: 32px;
}

.paymentItem {
  display: block;
  width: 45px;
  height: 32px;
  background-color: var(--green-gray-900);
  border-radius: 5px;
  outline: 1px solid var(--green-gray-800);

  &.large {
    width: 65px;

    .paymentIcon {
      width: 65px;
      color: var(--back-primary);
    }
  }
}
