@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';

.sorting {
  @include flex-center-sb;

  @media screen and (max-width: $screen-tl) {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
