@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';

.instagram {
  @include flex-column;

  grid-area: instagram;
  gap: 20px;

  @media screen and (max-width: $df-screen-ti) {
    @include flex-column-center;
  }
}

.instagramTitle {
  margin: 0;
  color: var(--front-primary-inversed);
}

.instagramCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  @media screen and (max-width: $df-screen-tl) {
    grid-template-columns: repeat(4, 80px);
  }

  @media screen and (max-width: $df-screen-m) {
    grid-template-columns: repeat(3, 1fr);
  }
}
