@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/button-reset';

.button {
  @include button-reset;
  @include flex-center-vertical;

  gap: 12px;
  padding: 12px 32px 11px 30px;
  background-color: var(--primary);
  border-radius: 43px;
  transition: background-color var(--transition);

  @media (hover: hover) {
    &:hover {
      background-color: var(--hard-primary);
    }
  }
}

.text {
  color: var(--front-primary-inversed);
  white-space: nowrap
}

.icon {
  @include box(22px);

  color: var(--front-primary-inversed);
}
