@import '@/shared/styles/breakpoints';
@import '@/shared/styles/mixins/flexbox.scss';
@import '@/shared/styles/mixins/box.scss';
@import '@/shared/styles/mixins/text-styles.scss';

.news {
  @include flex-column;

  padding: 24px 24px 20px;
  background-color: var(--back-primary);
  border-radius: 8px;
  box-shadow: 0 10px 80px 0 rgb(0 0 0 / 10%);

  @media screen and (max-width: $screen-ti) {
    box-shadow: none;
  }
}

.imgWrapper {
  position: relative;
  height: 300px;
}

.img {
  width: 100%;
  object-fit: cover;
}

.date {
  @include box(58px);
  @include flex-column;

  position: absolute;
  bottom: 20px;
  left: 20px;
  gap: 1px;
  padding: 6px 16px;
  background: rgb(255 255 255 / 90%);
  border-radius: 4px;
}

.dateDay {
  color: var(--green-gray-900);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

.dateMonth {
  color: var(--gray-500);
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.description {
  @include flex-column;

  gap: 8px;
  padding-top: 24px;
  background-color: var(--color-white);
  border-radius: 8px;
}

.title {
  margin: 0;
  color: var(--green-gray-900);
}

.text {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  color: var(--green-gray-500);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.link {
  gap: 7px;

  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.text + .link {
  margin-top: 10px;
}

.linkIcon {
  @include box(24px);
}
