@import '@/shared/styles/breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';

.news {
  @include flex-column;

  padding: 24px 24px 10px;
  background-color: var(--back-primary);
  border-radius: 8px;
  box-shadow: 0 10px 80px 0 rgb(0 0 0 / 10%);

  @media screen and (max-width: $df-screen-t) {
    box-shadow: none;
  }
}

.newsImgWrapper {
  position: relative;
  height: 276px;
  overflow: hidden;
  border-radius: 4px;
}

.newsImg {
  width: 100%;
  object-fit: cover;
}

.newsDate {
  @include box(58px);
  @include flex-column;

  position: absolute;
  bottom: 20px;
  left: 20px;
  gap: 1px;
  padding: 6px 16px;
  background: rgb(255 255 255 / 90%);
  border-radius: 4px;
}

.newsDateDay {
  color: var(--green-gray-900);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
}

.newsDateMonth {
  color: var(--monochrome-500);
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.newsDescription {
  @include flex-column;

  gap: 8px;
  padding-top: 24px;
  background-color: var(--color-white);
  border-radius: 8px;
}

.newsTitle {
  margin: 0;
  color: var(--green-gray-900);
}

.newsText {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  color: var(--green-gray-500);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.newsLink {
  gap: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.newsLinkIcon {
  @include box(24px);
}
