@import '@/shared/styles/mixins/flexbox.scss';
@import '@/shared/styles/mixins/box.scss';
@import '@/shared/styles/breakpoints';

.location {
  @include flex-center-vertical;

  gap: 8px;

  @media screen and (max-width: $screen-tl) {
    display: none;

    &.mobile {
      display: flex;
      align-items: flex-end;
    }
  }
}

.icon {
  width: 15px;
  min-width: 15px;
  height: 18px;

  @media screen and (max-width: $screen-tl) {
    @include box(26px);
  }
}
