@import '@/shared/styles/breakpoints';
@import '@/shared/styles/mixins/flexbox.scss';
@import '@/shared/styles/mixins/container.scss';
@import '@/shared/styles/mixins/box.scss';

.slider {
  @include container;

  position: relative;
  padding: 68px 0 118px;

  @media screen and (max-width: $screen-tl) {
    padding: 20px 0 100px;
  }

  @media screen and (max-width: $screen-ti) {
    padding-bottom: 116px;
  }
}
