@import '@/shared/styles/mixins/flexbox';

.OrderPage {
  @include flex-column;

  width: 100%;
  border: 1px solid var(--monochrome-100);
  border-radius: 8px;
}

.OrderPageInfo {
  display: grid;
  grid-template-areas: 'address payment' 'status status';
  gap: 40px 24px;
  padding: 24px;
}

.OrderPageAddresses {
  display: flex;
  grid-area: address;
  border: 1px solid var(--monochrome-100);
  border-radius: 6px;
}

.OrderPageAddress {
  border-right: 1px solid var(--monochrome-100);
}

.OrderPagePayment {
  grid-area: payment;
}

.OrderPageStatus {
  grid-area: status;
}
