@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox.scss';
@import '@/shared/styles/mixins/box.scss';
@import '@/shared/styles/mixins/button-reset.scss';
@import '@/shared/styles/mixins/text-styles.scss';


.filter {
  position: relative;
}

.filterAccordion {
  @include flex-column;

  gap: 20px;
}

.checkbox {
  padding: 10px 0 11px;

  &:first-child {
    padding-top: 21px;
  }

  &:last-child {
    padding-bottom: 9px;
  }

  .checkbox {
    gap: 9px;
  }

  .star-rating {
    gap: 2px;
  }
  
  .star-rating__star {
    @include box(16px);
  }
}

.tagsContainer {
  @include flex-center-vertical;

  flex-wrap: wrap;
  gap: 8px;
  padding-top: 12px !important;
}


.priceAccordion :global(.rc-slider) {
  margin-left: 10px;
  
    max-width: calc(100% - 20px);
}


// todo  кнопка фильтра
.filterButtonDesktop {
position: fixed;
// left: 0;
z-index: 3;
bottom: 50px;

width: 100%;
max-width: 312px;
     box-shadow: 0 10px 85px 42px rgba(240, 240, 240, 1);
}