@import '../../styles/_breakpoints';
@import '../../styles/mixins/flexbox.scss';
@import '../../styles/mixins/box.scss';
@import '../../styles/mixins/text-styles.scss';

.phone {
  @include flex-center-vertical;

  gap: 8px;
  color: var(--gray-900);
  text-decoration: none;

  @media screen and (max-width: $screen-t) {
    display: none;

    &--mobile {
      display: flex;
      align-items: flex-end;
    }
  }
}

.icon {
  @include box(28px);

  stroke-width: 1.3px;

  @media screen and (max-width: $screen-tl) {
    @include box(26px);
  }
}
