@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/text-styles';

.selectWrappper {
  @include flex-column;

  gap: 8px;

  &.error :global(.react-select__control) {
    border-color: var(--status-danger);
  }
}

.selectLabel {
  @include body-s;
}

.select {
  :global(.react-select__indicator-separator) {
    display: none;
  }

  :global(.react-select__single-value) {
    @include search-field;
  }

  :global(.react-select__control) {
    min-width: 166px;
    min-height: 49px;
    padding: 0 4px;
    border: 1px solid rgb(230 230 230);
  }

  :global(.react-select__indicator) {
    transform: rotate(0deg);
    transition: transform var(--transition);

    svg {
      @include box(16px);

      color: var(--monochrome-700);
    }
  }

  :global(.react-select__control--menu-is-open) :global(.react-select__indicator) {
    transform: rotate(180deg);
  }
}

.errorMessage {
  color: var(--status-danger);
}
