@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/grid.scss';


.catalogDesktopWrapper {
    @include grid(3, 24px);

  @media screen and (max-width: $screen-tl) {
    display: none ;
  }
}

.catalogMobileWrapper {
      display: none ;

  @media screen and (max-width: $screen-tl) {
    @include grid(3, 24px);
     @media screen and (max-width: $screen-ti) {
      grid-template-columns: 1fr 1fr; 
    }

    @media screen and (max-width: $screen-t) {
      grid-template-columns: 1fr;
    }
  }
}