@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/grid';

.catalogDesktopWrapper {
  @include grid(3, 24px);

  @media screen and (max-width: $screen-tl) {
    display: none;
  }
}

.catalogMobileWrapper {
  display: none;

  @media screen and (max-width: $screen-tl) {
    @include grid(3, 24px);

    @media screen and (max-width: $screen-ti) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $screen-t) {
      grid-template-columns: 1fr;
    }
  }
}

.imageButton {
  box-shadow: none;

  @media (hover: hover) {
    box-shadow: 0 0 8px 0 var(--monochrome-200);
  }
}
