  @import '@/shared/styles/_breakpoints';
  @import '@/shared/styles/mixins/text-styles.scss';

  
  .wishlistTable {
    border: 1px solid var(--monochrome-100);
    border-radius: 8px;
  }


  .wishlistTableHeader {
    display: grid;
    grid-template-columns: 1fr minmax(194px, 336px) minmax(108px, 187px) 212px;
    padding: 12px 24px 13px;
    border-bottom: 1px solid var(--monochrome-100);

    @media screen and (max-width: $screen-d) {
      grid-template-columns: 2fr 1fr 1fr 194px;
    }

    @media screen and (max-width: $screen-tl) {
      grid-template-columns: 2fr 1fr 1fr 178px;
    }

    @media screen and (max-width: $screen-ti) {
      display: none;
    }
  }

  .wishlistTableColumnTitle {
    @include body-s(500);

    color: var(--monochrome-500);
    letter-spacing: 3%;
    text-transform: uppercase;
  }

  .wishlistTableBody {
    padding: 0 24px;
  }

  .wishlistTableItem {
    padding: 11px 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--monochrome-100);
    }
  }

  .wishlistTableFooter {
    padding: 24px;
    border-top: 1px solid var(--monochrome-100);
  }