@import '@/shared/styles/_breakpoints';

.wishlistTable {
  border: 1px solid var(--monochrome-100);
  border-radius: 8px;
}

.wishlistTableHeader {
  display: grid;
  grid-template-columns: 1fr minmax(194px, 336px) minmax(108px, 187px) 212px;
  padding: 12px 24px 13px;
  border-bottom: 1px solid var(--monochrome-100);

  @media screen and (max-width: $df-screen-tl) {
    grid-template-columns: 2fr 1fr 1fr 194px;
  }

  @media screen and (max-width: $df-screen-ti) {
    grid-template-columns: 2fr 1fr 1fr 178px;
  }

  @media screen and (max-width: $df-screen-t) {
    display: none;
  }
}

.wishlistTableColumnTitle {
  color: var(--monochrome-500);
  letter-spacing: 3%;
  text-transform: uppercase;
}

.wishlistTableNoItems {
  padding: 32px 24px;
  color: var(--monochrome-500);
  text-align: center;
}

.wishlistTableBody {
  padding: 0 24px;
}

.wishlistTableItem {
  padding: 11px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--monochrome-100);
  }
}

.wishlistTableFooter {
  padding: 24px;
  border-top: 1px solid var(--monochrome-100);
}
