@import '@/shared/styles/breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';

.productImageLink {
  @include box(102px);

  position: relative;
}

.image {
  object-fit: contain;
}

.productImage {
  @include flex-column;

  gap: 1px;
  padding: 24px 12px 24px 20px;
}

.productDescriptionMain {
  @include flex-column;

  gap: 5px;
  height: 40px;
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transition);
}

.productTitle {
  margin: 0;
  color: var(--monochrome-700);
}

.productPrice {
  @include flex-center-vertical;

  gap: 4px;
  margin: 0;
  color: var(--monochrome-900);

  &Old {
    color: var(--green-gray-400);
    text-decoration-line: line-through;
  }
}

.productRating svg {
  @include box(12px);
}

.productDescriptionHover {
  position: absolute;
  height: 40px;
  visibility: hidden;
  opacity: 0;
}

.productActions {
  @include flex-center-vertical;

  gap: 12px;
}

.productSmall {
  @include flex-center-vertical;

  min-width: 282px;
  min-height: 112px;
  border: var(--card-border);
  border-radius: 6px;

  @media (hover: hover) {
    &:hover {
      border: var(--card-hover-border);
      box-shadow: var(--card-hover-shadow);

      .productTitle {
        color: var(--primary);
      }

      .description {
        gap: 6px;
        padding-bottom: 19px;
      }

      .productDescriptionHover {
        position: static;
        visibility: visible;
        opacity: 1;
        transition: opacity var(--transition);
      }

      .productDescriptionMain {
        position: absolute;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
