@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/flexbox';

.rating {
  @include flex-center-vertical;
}

.star {
  @include box(16px);

  position: relative;
  color: var(--monochrome-200);

  &.filled {
    color: var(--orange-500);
  }
}
