@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';

.OrderPageHeader {
  @include flex-center-vertical;

  gap: 8px;
  width: 100%;
  padding: 16px 24px;
  border-bottom: 1px solid var(--monochrome-100);
  border-radius: 8px;

  @media screen and (max-width: $df-screen-ti) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: $df-screen-m) {
    padding: 24px 0;
    border: none;
  }
}

.OrderPageHeaderSeparator {
  color: var(--monochrome-700);

  @media screen and (max-width: $df-screen-ti) {
    display: none;
  }
}

.OrderPageHeaderText {
  color: var(--monochrome-700);
}

.OrderPageHeaderLink {
  margin-left: auto;

  @media screen and (max-width: $df-screen-ti) {
    margin-left: 0;
  }
}
