@import '@/shared/styles/_breakpoints';

.CartItems {
  grid-area: items;
  border: 1px solid var(--monochrome-100);
  border-radius: 8px;
}

.CartItemsHeader {
  display: grid;
  grid-template-columns: 4.6fr 1.4fr 2.2fr 1.8fr;
  padding: 12px 19px 13px;
  border-bottom: 1px solid var(--monochrome-100);

  @media screen and (max-width: $df-screen-tl) {
    grid-template-columns: 4.5fr 1.5fr 2.2fr 1.8fr;
  }

  @media screen and (max-width: $df-screen-ti) {
    display: none;
  }
}

.CartItemsHeaderTitle {
  color: var(--monochrome-500);
  letter-spacing: 3%;
  text-transform: uppercase;
}

.CartItemsMain {
  padding: 0 20px;
}

p.CartItemsEmpty {
  width: 100%;
  padding: 32px 0;
  color: var(--monochrome-700);
}

.CartItemsProduct {
  padding: 11px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--monochrome-100);
  }
}

.CartItemsFooter {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  border-top: 1px solid var(--monochrome-100);

  @media screen and (max-width: $df-screen-m) {
    flex-direction: column;
    align-items: stretch;
  }
}
