@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';

.content {
  @include flex-center-sb;

  gap: 35px;

  @media screen and (max-width: $df-screen-tl) {
    gap: 15px;
  }
}

.search {
  width: 100%;
  max-width: 498px;
  margin-left: 9px;
}
