@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/grid';
@import '@/shared/styles/mixins/text-styles';

.checkoutForm {
  @include flex-column;

  gap: 32px;
}

.checkoutFormMain {
  @include flex-column;

  gap: 14px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--monochrome-100);
}

.checkoutFormRow {
  gap: 16px;
}

.checkoutFormRowGridTwo {
  @include grid(2);

  gap: 16px;
}

.checkoutFormRowGridThree {
  @include grid(3);

  gap: 16px;
}

.checkoutFormComment {
  @include flex-column;

  gap: 21px;
}

.checkoutFormInput {
  @include flex-column;

  gap: 8px;

  label {
    @include body-s;

    margin: 0;
  }

  .select .nice-select {
    width: 100%;
    height: 49px;
    padding: 5px 13px;
    border: 1px solid var(--monochrome-100);

    .current {
      font-style: 16px;
      line-height: 130%;
    }
  }
}

.checkoutFormCheckbox {
  gap: 6px;

  p {
    @include body-s;

    margin: 0;
  }
}

.checkoutFormRowGridTwo + .checkoutFormCheckbox {
  margin-top: 4px;
}

.checkoutFormShippingAddress {
  @include flex-column;

  gap: 16px;
}
