.checkoutForm {
  display: block;
}

// todo

.checkout-page {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 30px 0 80px;

  @media screen and (max-width: $screen-ti) {
    flex-direction: column;
    align-items: stretch;
  }

  &__main {
    flex-grow: 1;
  }

  &__title {
    @include body-xxl(500);

    margin: 0;
    text-align: left;
  }

  &__form {
    @include flex-column;

    gap: 32px;
  }

  &__title + &__form {
    margin-top: 21px;
  }

  &__form-main {
    @include flex-column;

    gap: 14px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--monochrome-100);
  }

  &__form-row.grid {
    gap: 16px;
  }

  &__form-comment {
    @include flex-column;

    gap: 21px;
  }

  &__input-container {
    @include flex-column;

    gap: 8px;

    .field {
      @include flex-column;

      gap: 8px;

      &__label {
        @include body-small;

        margin: 0;
      }
    }

    .select {
      gap: 0;
    }

    .select .nice-select {
      width: 100%;
      height: 49px;
      padding: 5px 13px;
      border: 1px solid var(--monochrome-100);

      .current {
        font-style: 16px;
        line-height: 130%;
      }
    }
  }

  &__input-label {
    @include body-small;

    margin: 0;
  }

  &__checkbox {
    gap: 6px;
  }

  &__form-row + &__checkbox {
    margin-top: 4px;
  }

  &__checkbox-text {
    @include body-small;

    color: var(--monochrome-700);
  }

  &__shipping-address {
    display: none;

    &.opened {
      @include flex-column;

      gap: 16px;
    }
  }

  &__aside {
    flex-grow: 1;
    width: 100%;
    max-width: 424px;

    @media screen and (max-width: $screen-ti) {
      max-width: unset;
    }
  }
}
