@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/button-reset';
@import '@/shared/styles/mixins/text-styles';

.chevron {
  @include box(18px);

  margin-left: 13px;
  transform: rotate(0deg);
  transition: all var(--transition);
}

.button {
  @include button-reset;
  @include flex-center-vertical;
  @include body-s(500);

  gap: 10px;
  padding: 18px 24px 17px 26px;
  color: var(--front-primary-inversed);
  background-color: var(--primary);
  transition: all var(--transition);

  @media screen and (max-width: $df-screen-m) {
    justify-content: space-between;
    width: 100%;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--hard-primary);
    }
  }

  .buttonLines {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 1.5px;
    background-color: #fff;
    border-radius: 4px;

    @media screen and (max-width: $df-screen-m) {
      display: none;
    }

    &::after,
    &::before {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 18px;
      height: 1.5px;
      background-color: inherit;
      border-radius: 4px;
      content: '';
    }

    &::after {
      top: -7px;
    }

    &::before {
      bottom: -7px;
    }
  }

  &.open {
    .chevron {
      transform: rotate(180deg);
    }
  }
}
