@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox';

.OrderProducts {
  @include flex-column;
}

.OrderProductsBody {
  @include flex-column;

  padding: 4px 20px 13px;
}

.OrderProductsItem {
  padding: 8px 0 7px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--monochrome-100);
  }
}
