@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/flexbox.scss';
@import '@/shared/styles/mixins/box.scss';
@import '@/shared/styles/mixins/text-styles.scss';

.bgContainer {
  padding: 100px 0;
  background: url('/images/deals-bg-left.png') no-repeat 10% center,
    url('/images/deals-bg-right.png') no-repeat 93% bottom;

  @media screen and (max-width: $screen-d) {
    background: url('/images/deals-bg-left.png') no-repeat left center,
      url('/images/deals-bg-right.png') no-repeat right bottom;
    background-size: 40%;
  }

  @media screen and (max-width: $screen-tl) {
    background: url('/images/deals-bg-left.png') no-repeat left center;
  }

  @media screen and (max-width: $screen-t) {
    background: none;
  }
}

.container {
  @include flex-column-center;

  gap: 12px;
  width: calc(100% - 40px);
  max-width: 508px;
  margin: 0 auto;
}

.subtitle {
  margin: 0;
  color: var(--primary);
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
}

.title {
  margin: 0;
}

.title + .counter {
  margin-top: 12px;
}

.container a.button {
  gap: 12px;
  padding: 14px 36px 13px 40px;
}

.counter + .button {
  margin-top: 20px;
}
