@import '@/shared/styles/mixins/flexbox.scss';
@import '@/shared/styles/mixins/box.scss';
@import '@/shared/styles/mixins/container.scss';

.breadcrumps {
  background: linear-gradient(
      95.02deg,
      rgb(0 0 0 / 70%) 0.034%,
      rgb(0 0 0 / 0%) 91.306%
    ),
    url('/images/breadcrumbs-img.jpg');
}

.breadcrumpsContent {
  @include container;
}

.list {
  @include flex-center-vertical;

  gap: 8px;
  margin: 0;
  padding: 48px 0;
  overflow-y: auto;

  @media (width <= 724px) {
    align-items: flex-start;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.homeIcon {
  @include box(24px);

  color: var(--monochrome-400);
}

.link {
  @include flex-center-vertical;

  gap: 8px;
  color: var(--monochrome-400);
  white-space: nowrap;
  text-decoration: none;

  &.active {
    color: var(--primary);
    pointer-events: none;
  }
}


.item {
  @include flex-center-vertical;

  gap: 9px;
  list-style: none;

  &:hover {
    .link {
      color: var(--primary);
    }
  }
}


.chevron {
  @include box(12px);

  color: var(--monochrome-400);
  transform: rotate(-90deg);
}
