@import '@/shared/styles/_breakpoints';
@import '@/shared/styles/mixins/container';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/text-styles';

.ProductOrder {
  $block-name: &; // #{$block-name}__element

  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 20px;
  align-items: center;

  @media screen and (max-width: $df-screen-t) {
    grid-template-areas: 'info price stock' 'info price actions';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  @media screen and (max-width: $df-screen-m) {
    grid-template-areas: 'info info' 'price stock' 'actions actions';
    grid-template-columns: auto 1fr;
  }

  &Info {
    @include flex-center-vertical;

    gap: 20px;

    @media screen and (max-width: $df-screen-ti) {
      flex-direction: column;
      gap: 6px;
      align-items: flex-start;
    }

    @media screen and (max-width: $df-screen-t) {
      grid-area: info;
    }
  }

  &Photo {
    @include box(100px);

    position: relative;

    @media screen and (max-width: $df-screen-m) {
      width: 100%;
      height: auto;
      min-height: 250px;
      max-height: 350px;
    }

    img {
      object-fit: contain;
    }
  }

  &Price {
    @include flex-center-vertical;

    gap: 4px;
    margin: 0;

    @media screen and (max-width: $df-screen-t) {
      flex-direction: column;
      grid-area: price;
      align-items: flex-start;
    }

    @media screen and (max-width: $df-screen-m) {
      flex-direction: row;
    }
  }

  &PriceNew {
    color: var(--monochrome-900);
  }

  &PriceOld {
    color: var(--monochrome-400);
    text-decoration-line: line-through;
  }

  &Stock {
    width: fit-content;

    @media screen and (max-width: $df-screen-t) {
      grid-area: stock;
      width: auto;
      text-align: center;
    }

    @media screen and (max-width: $df-screen-m) {
      width: fit-content;
    }
  }

  &Actions {
    @include flex-center-vertical;

    gap: 10px;
    justify-content: space-between;

    @media screen and (max-width: $df-screen-t) {
      grid-area: actions;
    }

    @media screen and (max-width: $df-screen-m) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &AddToCartButton {
    max-height: 45px;
    white-space: nowrap;

    @media screen and (max-width: $df-screen-t) {
      flex-grow: 1;
    }
  }
}
