@import '@/shared/styles/mixins/text-styles';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/breakpoints';

.tabs {
  max-width: 100vw;
  overflow: hidden;
}

.labels {
  @media screen and (max-width: $screen-ti) {
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      width: 16px;
      height: 100%;
      background: linear-gradient(
        to left,
        rgb(4 119 210 / 0%),
        var(--green-gray-50)
      );
      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: block;
      width: 16px;
      height: 100%;
      background: linear-gradient(
        to right,
        rgb(4 119 210 / 0%),
        var(--green-gray-50)
      );
      content: '';
    }
  }
}

.labelsContent {
  @media screen and (max-width: $screen-ti) {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow: auto hidden;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }
}

.scrollContainer {
  @include flex-center;

  position: relative;
  gap: 12px;
  outline: none;

  @media screen and (max-width: $screen-ti) {
    width: max-content;
  }
}

.label {
  @include body-m(500);

  position: relative;
  flex-shrink: 0;
  padding: 0;
  padding: 8px 12px 6px;
  color: var(--gray-500);
  background-color: inherit;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom: 2px solid transparent;
  border-left-width: 0;
  cursor: pointer;
  transition: border-color var(--transition-long), color var(--transition-long);

  &:hover {
    color: var(--primary);
  }

  &.active {
    color: var(--primary);
    border-color: var(--primary);
    cursor: default;
  }

  &:not(:last-child) {
    margin-right: 15px;

    &::after {
      position: absolute;
      top: 50%;
      right: -15px;
      width: 1px;
      height: 16px;
      background-color: var(--green-gray-200);
      transform: translateY(-50%);
      content: '';
    }
  }
}

.panes {
  position: relative;
  border-top: 0;
}

.labels + .panes {
  margin-top: 47px;
}

.pane {
  width: 100%;
  max-width: 100vw;
}
