@import '@/shared/styles/mixins/box';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/text-styles';

.rating {
  @include flex-center-vertical;
}

.star {
  @include box(16px);

  position: relative;
  color: var(--monochrome-200);

  &.filled {
    color: var(--orange-500);
  }
}

.text {
  @include body-s;

  margin-left: 3px;
  line-height: 1.429;
}
