.Overlay {
  position: fixed;
  inset: 0;
  z-index: var(--overlay-z-index);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-bg);
  cursor: pointer;
}
