@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/_breakpoints';

.OrderPagePayment {
  @include flex-column;

  gap: 7px;
  border: 1px solid var(--monochrome-100);
  border-radius: 8px;
}

.OrderPagePaymentHeader {
  display: flex;
  gap: 30px;
  padding: 15px 20px 18px;
  border-bottom: 1px solid var(--monochrome-100);

  @media screen and (max-width: $df-screen-ti) {
    flex-direction: column;
    gap: 10px;
  }
}

.OrderPagePaymentHeaderSeparator {
  width: 1px;
  height: 100%;
  background-color: var(--monochrome-100);
}

.OrderPagePaymentColumn {
  @include flex-column;

  gap: 4px;
  width: 100%;
}

.OrderPagePaymentColumnKey {
  color: var(--monochrome-400);
  text-transform: uppercase;
}

.OrderPagePaymentRow {
  @include flex-center-vertical;

  gap: 12px;
  justify-content: space-between;
  padding: 12px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--monochrome-100);
  }
}

.OrderPagePaymentKey {
  color: var(--monochrome-700);
}

.OrderPagePaymentTotalPrice {
  color: var(--hard-primary);
}

.OrderPagePaymentValues {
  padding: 0 20px;
}
