@import '@/shared/styles/breakpoints';
@import '@/shared/styles/mixins/flexbox';
@import '@/shared/styles/mixins/box';

.imageContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 310px;
}

.tags {
  @include flex-center-vertical;

  position: absolute;
  top: 20px;
  left: 19px;
  flex-wrap: wrap;
  gap: 8px;
}

.buttons {
  @include flex-column;

  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  gap: 6px;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-long);
}

.imageButton {
  @include box(48px);

  background-color: var(--color-white);
  border: 1px solid var(--monochrome-50);
  box-shadow: none;

  @media (hover: hover) {
    &:hover {
      border: none;
      box-shadow: 0 0 8px 0 var(--monochrome-200);
    }
  }
}

.image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.description {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 18px 22px 19px 20px;
}

.title {
  margin: 0;
  color: var(--monochrome-700);
  transition: color var(--transition-long);
}

.price {
  @include flex-center-vertical;

  gap: 4px;
  margin: 0;
  color: var(--green-gray-900);

  &Old {
    color: var(--green-gray-400);
    text-decoration-line: line-through;
  }
}

.link {
  text-decoration: none;
}

.link + .price {
  margin-top: 2px;
}

.rating svg {
  @include box(12px);
}

.price + .rating {
  margin-top: 4px;
}

.button {
  @include box(50px);

  background-color: var(--green-gray-100);
  box-shadow: none;

  @media (hover: hover) {
    &:hover {
      color: var(--color-white);
      background-color: var(--primary);
      box-shadow: 0 0 8px 2px var(--monochrome-200);
    }
  }
}

.product {
  @include flex-column;

  border: 1px solid transparent;
  transition: border var(--transition-long);

  @media (hover: hover) {
    &:hover {
      border-color: var(--card-hover-border);
      box-shadow: var(--card-hover-shadow);

      .title {
        color: var(--primary);
      }

      .buttons {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  @media (hover: none) {
    .title {
      color: var(--primary);
    }

    .buttons {
      visibility: visible;
      opacity: 1;
    }
  }
}
