.tag {
  width: fit-content;
  padding: 3px 10px 3px 8px;
  color: var(--color-white);
  border-radius: 4px;

  &.sale,
  &.not-available {
    background-color: var(--red-500);
  }

  &.best-sale {
    background-color: var(--blue-500);
  }

  &.new {
    background-color: var(--orange-500);
  }

  &.out-of-stock {
    background-color: var(--monochrome-900);
  }

  &.in-stock {
    color: var(--green);
    background-color: rgb(32 181 38 / 20%);
  }
}
