@import '@/shared/styles/mixins/text-styles.scss';

.tag {
  @include body-s;

  padding: 3px 10px 3px 8px;
  color: var(--color-white);
  border-radius: 4px;

  &.red {
    background-color: var(--red);
  }

  &.blue {
    background-color: var(--blue-500);
  }

  &.orange {
    background-color: var(--orange);
  }

  &.black {
    background-color: var(--gray-900);
  }
}
